html {
    scroll-behavior: smooth;
}

body {
    background-color: #161616;

}
 .visually-hidden {
    display: none;
 }

 .card-category {
    background-color: var(--color-primary);
 }

 .section-tagline {
    background-color: var(--color-primary);
 }

 :root {
    --color-primary: #d73953;
    --color-black: #090909;
    --color-white: #ffffff;
    --color-dark-grey: var(--color-black);

 }
 